/*------Resets Margin and Padding------*/

*{
    margin: 0;
    padding: 0;
    list-style: none;
}

/*-------General Settings-----*/

body{
    max-width: 100%;
    min-width: 480px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #212123;
    background-image: url("./images/banner.png");
}

div.wrapper{
    width: 90.625em;
    margin: 0 auto;
}

a{
    text-decoration: none;
    cursor: pointer;
}

/*--------Top left logo-----------*/

img.solimage{
    display: inline-block;
    width: 4.2em;
    height: 3.5em;
    cursor: pointer;
    margin: 1em 0 0 2em;
}

/*-----------Menu--------------*/

body.clearfix > header {
    background-image: url("./images/banner.png");
    background-size: contain;
    margin: 0 auto;
    width: 90em;
    position: relative;
}

ul.menu {
    margin: 0 0.5em;
    float: right;
}

.control {
    width: 35em;
    display: block;
}

.menu li {
    list-style: none;
    display: block;
    float: left;
}

.menu li > a{
    padding: 0.5em 1em 0.5em 1em;
    background-color: #212123;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
    color: #256188;
    margin: 0;
    display: inline-block;
    -moz-transition-property: background-color;
    -moz-transition-duration: .5s;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: .5s;
    -o-transition-property: background-color;
    -o-transition-duration: .5s;
    transition-property: background-color;
    transition-duration: .5s;
}

.menu li > a:hover{
    background-color: #343536;
    color: white;
    /* border-bottom: 0.1em solid rgb(26, 25, 25); */
}

.menu li > a:active {
    background-color: #c8c9ca;
    color: rgb(36, 36, 36);
}

header.clearfix input[type = "search"] {
    width: 15em;
    padding: 0.2em;
    padding-left: 1.5em; 
    background-color: #e6e6e6;
    color: rgb(56, 54, 54);
    font-size: 1.2em;
    border-radius: 1em;
    margin: 0 1em 0 5em; 
    display: inline-block;
    outline: none;
}

img.search-icon{
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    top: 2.4em;
    right: calc(50% - 2.5em);
    cursor: pointer;
}

img.profile-avatar{
    width:  3em;
    height: 3em;
    cursor: pointer;
    margin-left: 8em;
}

div.ask-question{  /*POST BUTTON*/
    position: absolute;
    padding: 0.5em;
    background-color: #212123;
    color: #1b96e7;
    font-size: 1em;
    font-weight: bold;
    border-radius: .1em;
    margin: -0 0 0 0; 
    display: inline-block;
    outline: none;
    cursor: pointer;
    line-height: 1em;
    top: 2em;
    right: calc(5% - 1.8em);
}

div.ask-question:hover{
    background-color: #343536;
    color: whitesmoke;
}

article.my-top-post{
    position: absolute;
    border-radius: 1em;
    width: 25em;
    padding: 0 0 0 0; /* padding: 1em 0 3em 0; */
    top: 2em;
    background-color: rgba(99, 96, 96, 0.5);
    right: calc(5% - 20000em);

    max-height: 0em; 
    overflow: hidden;

    transition-property: max-height;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;

    transition-property: padding;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
} 

article.my-top-post textarea{
    display: block;
    width: 20em;
    margin: 0 auto;
}


input.post-top-question{
    padding: 0.2em 0.5em 0.2em 0.5em;
    background-color: #2c6ecf;
    color: rgb(255, 255, 255);
    font-size: 1em;
    font-weight: bold;
    font-family: cambria;
    border-radius: 1em;
    display: block;
    outline: none;
    cursor: pointer;
    position: absolute;
    bottom: 0.5em;
    right: calc(22% - 4em); 
}

input.post-top-question:hover{
    background-color: #376cfd;
}

input.post-top-question:active{
    background-color: #e6e6e6;
    color: #2675b6;
}

header.clearfix div.ask-question:hover article.my-top-post {
    right: calc(5% - 4em);
    padding: 1em 0 3em 0;
    max-height: 90em;
    overflow: initial;
} 

article.my-top-post .text-area {
    border-radius: 0.5em;
    border: none;
    height: 3em;
    padding: 1em;
    resize: none;
    line-height: 1.3em;
    font-family: cursive;
    font-size: 1em;
    outline: none;
    margin: 0 auto;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------*/


/*-------------First Section---------------*/

section.reg{
    width: 43.75em;
    height: 48.75em;
    background-color: #212123;
    background-image: url("./images/StackOverflowLite.png");
    background-position-x: -16em;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    padding: 0.5em;
    color: white;
}

h2.sitename{
    position: absolute;
    font-family: Cambria;
    font-size: 1.5em;
    font-weight: bolder;
    border-bottom: 0.05em solid #256188;  
    top: 1.7em; 
    left: calc(9% - 1.7em);
    cursor: pointer;
    text-decoration: none;
    color: white;
}

span.bluefont{
    color: #256188;
    border-bottom: .05em solid white;
}

span.shadow{
    text-shadow: 0.05em 0.05em 0.05em rgb(15, 15, 15);
}

section.reg > aside{
    text-align: justify;
    width: 30em;
    height: 25em;
    padding: 1.2em;
    margin: 10em auto;
    background-color: rgba(65, 64, 64, 0.7);
    border-radius: .5em;
}

h1.heading{
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center;
    border-bottom: .05em solid #f7f8f8;
}

p.intro{
    font-size: 1.2em;
    line-height: 1.3em;
}

a.button{
    display: block;
    width: 5em;
    margin: 2em auto 0 auto;
    padding: 0.5em;
    border-radius: 0.35em;
    border: 0.02em solid rgba(255, 255, 255, 0.7);
    text-decoration: none;
    background-color: #32a4f5;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-weight: bolder;
    cursor: pointer;
    text-align: center;
}

a.button:hover{
    background-color: #79c7fa;
    border-bottom: 0.05em solid white;
}

a.button:active {
    background-color: #256188;
    color: #fff;
}

/*--------------------------------------------------------------------------------------------------------------*/

/*---------------Second section--------------*/

section.signin{
    width: 43.75em;
    height: 48.75em;
    background-color: #484f57; 
    float: left;
    padding: 0.5em;
    background-image: url("./images/any-question.png");
    background-size: cover;
}

section.signin > div{
    width: 25em;
    border: 0.4em solid rgb(251, 251, 253);
    border-radius: 1em;
    margin: 11em auto;
    position: relative; /*added to set avatar when Absolute*/
    background-color: #ffffff62;
}

section.signin h3{
    margin: 0 auto;
    margin-top: 3em;
    font-size: 1.5em;
    color: white;
    width: 11em;
    padding: 0.5em 0.5em 0 0;
    border-bottom: 0.02em solid white;
}

img.avatar{
    position: absolute;
    width: 8em;
    height: 8em;
    top: -4.0875em;
    left: calc(50% - 4.0875em);
}

form input[type ="email"], form input[type ="password"], form input[type = "text"] {
    display: block;
    width: 15em;
    outline: none;
    margin: 2em;
    background-color: rgba(255, 255, 255, 0);
    font-size: 1.25em;
    color: white;
    border: none;
    border-bottom: 0.05em solid white;
}

form input[type = "button"] {
    display: block;
    margin: 0.5em auto 1em auto;
    width: 5em;
    padding: 0.25em;
    border-radius: 0.35em;
    outline: none;
    background-color: #ecf3ff;
    color: rgb(0, 110, 201);
    font-size: 1.5em;
    font-family: cambria;
    font-weight: bolder;
    cursor: pointer;
    text-align: center;
}

form input[type = "button"]:hover{
    background-color: #93c8eb;
    color: #fff;
    border-bottom: 0.05em solid rgb(0, 0, 0);
}

form input[type = "button"]:active{
    background-color: #256188;
}

.forgot{
    color: rgb(255, 255, 255);
    font-size: 1em;
    width: 9em;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 2em;
}

.red {
    background-color: red;
    width: 0.625em;
    height: 0.625em;
    display: inline-block;
    margin: 1.25em 0 0 0; 
}

.yellow{
    background-color: yellow;
    width: 0.625em;
    height: 0.625em;
    display: inline-block;
    margin: 1.25em 0 0 0; 
}

.greenYellow{
    background-color: rgb(148, 216, 47);
    width: 0.625em;
    height: 0.625em;
    display: inline-block;
    margin: 1.25em 0 0 0; 
}

.green{
    background-color: green;
    width: 0.625em;
    height: 0.625em;
    display: inline-block;
    margin: 1.25em 0 0 0; 
}

label{
    font-family: Helvetica;
    font-size: 0.7em;
    margin: 1.25em 0.3125em 0 0.3125em;
    font-weight: bold;
}

/*-----------------------------------------------------------------------------------------------------------------------*/

/*----------------INDEX-Home-Page-----------------*/

section.home-page-container{
    width: 100%;
    margin: 2em auto 0 auto;
}

aside.recent-questions { /* wrapper for recently asked questions*/
    width: 15%;
    height: 59.5em;
    float: left;
    background-color: #ffffff7a;
    margin-left: 5%;
    text-align: left;
    padding-top: 0.5em;
    border-radius: .5em 0 0 .5em;
}

aside.recent-questions > h3 {
    text-align: center;
    color: white;
    text-shadow: 0.1em 0.1em 0.1em black

}

aside.recent-questions > h4{
    text-align: center;
    color: rgb(34, 33, 33);
    font-family: cursive; 
    padding: 0.3em;
}

.home-page-container a{ /*Links for recently asked & answered question*/
    display: block;
    color: blue;
    margin: 1em;
    padding-top: 0em;
    padding-bottom: 0.5em;
    border-bottom: 0.01em solid #37373b;
}

.home-page-container a:hover{
    color: #ffffff;
}

section.home-feeds{ /*Home feeds section*/
    width: calc(60% - 4em);
    padding: 1em 2em 2em 2em; 
    float: left;
    background-color: #99bff87a;
    height: 57em;
    overflow: auto;
}

article.my-post { /*Post article main wrapper*/
    position: relative;
    text-align: justify;
    border-radius: 1em;
    width: 35em;
    padding: 1em 2em 3em 2em;
    margin: 1em 0 0 0;
    background-color: rgba(255, 255, 255, 0.753);
}

.my-post > label > a.user{
    border: none;
    margin-bottom: 0;
}

.my-post .text-area {
    border-radius: 0.5em;
    border: none;
    width: 30em;
    height: 3em;
    padding: 1em;
    resize: none;
    line-height: 1.3em;
    font-family: cursive;
    font-size: 1em;
    outline: none;
    display: block;
    margin: 0 auto;
}

input.post-question, input.delete-question { /*POST & DELETE Question Button rule*/
    padding: 0.2em 0.5em 0.2em 0.5em;
    background-color: #2c6ecf;
    color: rgb(255, 255, 255);
    font-size: 1em;
    font-weight: bold;
    font-family: cambria;
    border-radius: 1em;
    display: block;
    outline: none;
    cursor: pointer;
    position: absolute;
    bottom: 1em;
    right: calc(22% - 4em); 
}

input.post-question:hover, input.delete-question:hover{
    background-color: #376cfd;
}

input.post-question:active, input.delete-question:active{
    background-color: #e6e6e6;
    color: #2675b6;
}

img.other-users-avatar, img.main-users-avatar{
    width:  3em;
    height: 3em;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

article.my-post label{
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

article.my-post label a{
    color: #2c6ecf;
    font-size: larger;
    margin-top: 0;
}

article.my-post label a:hover{
    text-decoration: underline;
    color: #1b96e7;
}

aside.recent-answers{
    width: 15%;
    height: 59.5em;
    border-radius: 0 0.5em 0.5em 0;
    float: left;
    padding-top: 0.5em;
    margin-right: 5%;
    background-color: #ffffff7a;
    text-align: left;
}

aside.recent-answers > h3 {
    text-align: center;
    color: white;
    text-shadow: 0.1em 0.1em 0.1em black
}

aside.recent-answers > h4 {
    text-align: center;
    color: rgb(34, 33, 33);
    font-family: cursive; 
    padding: 0.3em;
}

/*-------------Footer---------------*/

footer.foot{
    /* background-color: #2c2c30; */
    margin: 0 auto;
    width: 90em;
    display: block;
}

img.social-media{
    width: 2em;
    height: 2em;
    display: inline-block;
    margin: 1em 0.1em;
}

img.social-media:hover{
    background-color: #256188;
}

/*-----------Fix for floating elements-----------*/

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*------------MEDIA QUERIES------------*/

@media only screen and (max-width: 1599px) {
    #header {
        width: 90.625em;
    }
    #footer {
        width: 90.625em;
    }
}

@media only screen and (min-width: 320px) and (max-width: 340px) {
    section.signin{
        width: 40em;
    }
    section.reg{
        width: 40em;
    }
}

a.reference-link{
    display: inline;
    color: blue;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
}