/* Resets Margin and Padding */
*{
    margin: 0;
    padding: 0;
}
/*-------General Settings-----*/
body{
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #212123;
}

div.wrapper{
    width: 1450px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    cursor: pointer;
}

/*--------Top left logo-----------*/
img.solimage{
    display: inline-block;
    width: 4.2em;
    height: 3.5em;
    cursor: pointer;
    margin: 1em 1em 0 2em;
}

/*-----------Menu--------------*/
body.clearfix > header{
    background-color: #2c2c30;
    width: 100%;
}
ul.menu {
    margin: 1em 10em 0 30em;
    float: right;
}
.menu li{
    list-style: none;
    display: block;
    float: left;
}
.menu li > a{
    width: 5em;
    padding: 0.5em 1em 0.5em 1em;
    background-color: #212123;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
    color: #256188;
    margin: 0;
    display: inline-block;
}

.menu li > a:hover{
    background-color: #343536;
    color: white;
    border-bottom: 0.1em solid rgb(26, 25, 25);
}


/*-------------------------------------------------------------------------------------------------------------------------------------------*/


/*-------------First Section---------------*/
section.reg{
    width: 700px;
    height:780px;
    background-color: #212123;
    float: left;
    padding: 0.5em;
    color: white;
}

h2.sitename{
    position: absolute;
    font-family: Cambria;
    font-size: 1.5em;
    font-weight: bolder;
    border-bottom: 0.05em solid #256188;  
    top: 1.7em; 
    left: 3.6em;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
span.bluefont{
    color: #256188;
    border-bottom: .05em solid white;
}
span.blueborder{
    border-bottom: .05em solid #256188;
}
section.reg > section{
    text-align: justify;
    width: 30em;
    height: 25em;
    padding: 1.2em;
    margin: 10em auto;
    background-color: rgba(245, 245, 245, 0.2);
    border-radius: .5em;
}

h1.heading{
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center;
    border-bottom: .05em solid #f7f8f8;
}
p.intro{
    font-size: 1.2em;
    line-height: 1.5em;
}
a.button{
    display: block;
    width: 5em;
    margin: 2em auto 0 auto;
    padding: 0.5em;
    border-radius: 0.35em;
    border: 0.02em solid rgba(255, 255, 255, 0.7);
    text-decoration: none;
    background-color: #32a4f5;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-weight: bolder;
    cursor: pointer;
    text-align: center;
}
a.button:hover{
    background-color: #79c7fa;
    border-bottom: 0.05em solid white;
}
a.button:active {
    background-color: #256188;
    color: #fff;
}

/*--------------------------------------------------------------------------------------------------------------*/

/*---------------Second section--------------*/

section.signin > div{
    width: 30em;
    border: 0.4em solid rgb(251, 251, 253);
    border-radius: 1em;
    margin: 11em auto;
}

section.signin{
    width: 700px;
    height: 780px;
    background-color: #256188;
    float: left;
    padding: 0.5em;
}

section.signin h3{
    margin: 0 auto;
    margin-top: 3em;
    font-size: 1.5em;
    color: white;
    width: 11em;
    padding: 0.5em 0.5em 0 0;
    border-bottom: 0.02em solid white;
}

img.avatar{
    position: absolute;
    width: 8em;
    height: 8em;
    top: 12.55em;
    right: 24em;
    display: block;
}

form input[type="email"], form input[type="password"] {
    display: block;
    width: 20em;
    outline: none;
    margin: 2em;
    background-color: #256188;
    font-size: 1.25em;
    color: white;
    border: none;
    border-bottom: 0.05em solid white;
}

form input[type = "button"] {
    display: block;
    margin: 0 auto;
    margin-bottom: 2em;
    width: 5em;
    padding: 0.5em;
    border-radius: 0.35em;
    outline: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    font-family: Cambria;
    font-weight: bolder;
    cursor: pointer;
    text-align: center;
}

form input[type = "button"]:hover{
    background-color: #79c7fa;
    border-bottom: 0.1em solid rgb(56, 54, 54);
}
form input[type = "button"]:active{
    background-color: #256188;
    color: #fff;
}

/*-----------Fix for floating elements-----------*/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
